# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# Docker
docker-compose.override.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Operating System
.DS_Store
Thumbs.db

#helm/new-event-platform/values.yaml